<div class="container p-0">
    <div class="row border border-light rounded bg-light justify-content-between pt-3 pb-3">
        <div class="col-12" *ngFor="let el of state.transports">
            <app-singleTransportWidget 
            *ngIf="el.typo === vehicleSelector"
                [singleTransport]="el" 
                [seats]="state.seats.get(el.idTransport)"
                (seatsInfoSelectorFunction)="openSeatsInfo($event)">
            </app-singleTransportWidget>
        </div>
        <p *ngIf="(state.transports | vehicleCounter: vehicleSelector) === 0" class="text-center text-muted m-0">No means of transport provided for the selected stop</p>
    </div>
</div>
