<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-xl-8 bg-primary rounded-bottom">
            <img src="../../../assets/logo.png">
            <div class="developers text-white h-100">Christian Stingone - Alex Di Stefano - Alessio Drago</div>
        </div>
    </div>
    <div class="row justify-content-center mb-3 reducePadding">
        <div class="col-12 col-xl-8">
            <app-selector-widget
            (vehicleTypeSelectorFunction)="vehicleTypeSelectorFunction($event)"
            ></app-selector-widget>
        </div>
    </div>
    <div class="row justify-content-center reducePadding">
        <div class="col-12 col-xl-8">
            <app-transport-list-fragment
            [vehicleSelector]="vehicleSelector"></app-transport-list-fragment>
        </div>
    </div>
</div>
<footer class="text-center text-white bg-primary w-100">
    <small>Christian Stingone - Alex Di Stefano - Alessio Drago</small>
</footer>