p {
    margin: 0;
}

img {
    max-width: 45px;
    max-height: 45px;
}

.maxSizeSeat {
    max-width: 30px;
    max-height: 30px;
}

.align-seats {
    max-width: min-content;
}

.corridor {
    max-width: 10px;
}

.empty {
    filter: invert(45%) sepia(95%) saturate(348%) hue-rotate(84deg) brightness(101%) contrast(88%)
}

.full {
    filter: invert(29%) sepia(50%) saturate(2586%) hue-rotate(339deg) brightness(72%) contrast(84%)
}

.disabled {
    filter: invert(82%) sepia(12%) saturate(3%) hue-rotate(13deg) brightness(80%) contrast(83%)
}

@media screen and (max-width: 768px) {
    .imgCol, .totalSeatCol {
        display: none;
    }
    .container, .col-1, .col-2, .col-3, .col-4, .col-5 {
        padding: 0;
    }
}