<div class="container mb-2">
        <div class="row align-items-center justify-content-between bg-white rounded border" role="button" 
        [ngClass]="{'rounded': !singleTransport.seatsInfo, 'rounded-top': singleTransport.seatsInfo}"
        (click)="seatsInfo()">
            <div class="col-2 col-md-1 text-center border-end">
                <p>Line<span class="d-block h4 m-0">{{singleTransport.line}}</span></p>
            </div>
            <div class="col-4 col-md-2 text-center pe-0">
                <p>Expected at<span class="d-block h6 m-0">{{singleTransport.time}}</span></p>
            </div>
            <div class="col-2 text-center pe-0 imgCol">
                <img src="../../../assets/{{singleTransport.type}}.png">
            </div>
            <div class="col-2 text-center pe-0 totalSeatCol">
                <p>Total seats<span class="d-block h6 m-0">{{singleTransport.totalSeats}}</span></p>
            </div>
            <div class="col-6 col-md-5">
                <div class="row text-center p-0">
                    <div class="col-12 text-truncate">
                        {{singleTransport.start}}
                    </div>
                </div>
                <div class="row text-center p-0">
                    <div class="col-12">
                        ▼
                    </div>    
                </div>
                <div class="row text-center p-0">
                    <div class="col-12 text-truncate">
                        {{singleTransport.destination}}
                    </div>
                </div>
            </div>
    </div>
    <div class="row bg-white align-items-center justify-content-between mb-2 border rounded-bottom border-top-0" *ngIf="singleTransport.seatsInfo">
        <div class="mt-3 mb-2" *ngIf="seats && seatsPrepared">
            <div clas="row">
                <div class="col-12 h2" align="center">⇪</div>
            </div>
            <div class="row justify-content-center"*ngFor="let row of seatsPrepared; let indexRow = index">
                <ng-container *ngFor="let elem of row; let indexCol = index">
                    <div class="col corridor" *ngIf="indexCol === row.length/2 && row.length > 3"></div>
                    <div class="col mb-2 align-seats" [ngClass]="{'border-start': indexCol === 0, 'border-end': indexCol === row.length-1, 'border-bottom pb-2': indexRow === seatsPrepared.length-1, 'border-top pt-2': indexRow === 0}">
                        <img src="../../../assets/seat.png" class="maxSizeSeat"
                        title="{{'This seat is: ' + elem}}"
                        [ngClass]="{'full animation-full': elem === SEAT_STATE_TYPE.full,'empty animation-empty': elem === SEAT_STATE_TYPE.empty,'disabled': elem === SEAT_STATE_TYPE.disabled}">
                    </div>
                </ng-container>
            </div>
            <div clas="row">
                <div class="col-12 h6" align="right"><span class="text-success">Full</span>, <span class="text-danger">Empty</span>, <span class="text-muted">No data</span></div>
            </div>
        </div>
        <div class="col-12" align="center" *ngIf="!seats || !seatsPrepared">
            Retrieving data
        </div>
    </div>
</div>