<div class="container">
    <div class="row mb-2 bg-white border rounded align-items-center justify-content-between">
        <div class="col-2 col-md-1 text-center border-end">
            <p>Line<span class="d-block h3 m-0">{{singleTransport?.line}}</span></p>
        </div>
        <div class="col-4 col-md-2 text-center pe-0">
            <p>Expected at<span class="d-block h6 m-0">{{singleTransport?.time}}</span></p>
        </div>
        <div class="col-2 text-center pe-0 imgCol">
            <img src="../../../assets/{{singleTransport?.typo}}.png">
        </div>
        <div class="col-2 text-center pe-0 totalSeatCol">
            <p>Total seats<span class="d-block h6 m-0">{{singleTransport?.totalSeats}}</span></p>
        </div>
        <div class="col-6 col-md-5">
            <div class="row text-center p-0">
                <div class="col-12 text-truncate">
                    {{singleTransport?.start}}
                </div>
            </div>
            <div class="row text-center p-0">
                <div class="col-12">
                    ▼
                </div>    
            </div>
            <div class="row text-center p-0">
                <div class="col-12 text-truncate">
                    {{singleTransport?.destination}}
                </div>
            </div>
        </div>
    </div>
</div>